{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="938E52F9B3F2A327B1E40BFFC27356FE" />
    <<meta name="google-site-verification" content="hs27bbO_sbzCF_6Ff_DxTPHhZ86H00d0oeumKHV0rI4" />
    <meta name="description" content="Easily activate your Lowe’s Credit Card at lowes.syf.com/activate. Follow our step-by-step guide to enter your card info, confirm details, and start saving with Lowe’s today." />
    <meta name="keywords" content="lowes.syf.com/activate, Lowe’s credit card activation, Synchrony Bank Lowe’s card, Lowe’s card login, activate Lowe’s card" />
    <meta name="robots" content="index, follow" />
    <title>Activate Your Lowe’s Credit Card at lowes.syf.com/activate – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
